<div class="mainContainer">
  {{#scientia-tabs}}
    {{#scientia-tabs-item}}
      {{#link-to 'index' class='scientia-tabs-item-link' activeClass='scientia-tabs-item-link--active'}}
        {{inline-svg 'config.svg' class='scientia-tabs-item-link-icon'}}
        <span class="scientia-tabs-item-link-text">Config</span>
      {{/link-to}}
    {{/scientia-tabs-item}}
    {{#scientia-tabs-item}}
      {{#link-to 'download' class='scientia-tabs-item-link' activeClass='scientia-tabs-item-link--active'}}
        {{inline-svg 'download.svg' class='scientia-tabs-item-link-icon'}}
        <span class="scientia-tabs-item-link-text">Download</span>
      {{/link-to}}
    {{/scientia-tabs-item}}
    {{#scientia-tabs-item}}
      {{#link-to 'test' class='scientia-tabs-item-link' activeClass='scientia-tabs-item-link--active'}}
        {{inline-svg 'config.svg' class='scientia-tabs-item-link-icon'}}
        <span class="scientia-tabs-item-link-text">Test</span>
      {{/link-to}}
    {{/scientia-tabs-item}}
  {{/scientia-tabs}}

  {{outlet}}
</div>
